<section class="home" id="home">
    <div class="content">
        <h3>Delicias Latinas</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusamus tempore temporibus rem amet laudantium animi optio voluptatum. Natus obcaecati unde porro nostrum ipsam itaque impedit incidunt rem quisquam eos!</p>
        <a href="#" class="btn">order now</a>
    </div>
    <div class="image">
        <img src="images/home-img.png" alt="">
    </div>
</section>

<section class="speciality" id="speciality">

    <h1 class="heading"> our <span>categories</span> </h1>

    <div class="share" style="text-align: center; justify-content: center;">
        <% categories.forEach(category => { %>
            <!-- <div class="box">
                <img class="image" src="images/s-img-1.jpg" alt="">
                <div class="content">
                    <img src="images/s-1.png" alt="">
                    <h3><%= category.name %></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
                </div>
            </div> -->
        
            <a href="/<%= category.id%>" class="btn"><%= category.name %></a>
            
        <% }) %>
        <a href="#" class="btn">All foods</a>

    </div>

</section>

<!-- speciality section ends -->

<!-- popular section starts  -->

<section class="popular" id="popular">

    <h1 class="heading"> Our <span>All</span> foods </h1>

    <div class="box-container">
        <% food.forEach(dish => { %> 
            <div class="box">
                <span class="price"> $<%= dish.price %> </span>
                <!-- <img src="images/p-1.jpg" alt=""> -->
                <img src="<%= dish.image %> " alt="">
                <h3><%= dish.name %></h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <% if (locals.user && locals.user.loggedIn && user.role==="ADMIN") { %>
                    <a href="/edit/<%= dish.id %>" class="btn">Editar</a>
                    <a href="/delete/<%= dish.id %>" class="btn">Eliminar</a>
                <% } %>
                <a href="/orders/add/<%= dish.id %>" class="btn">order now</a>
            </div>
        <% }) %>
        <!-- <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="images/p-2.jpg" alt="">
            <h3>tasty cakes</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="images/p-3.jpg" alt="">
            <h3>tasty sweets</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="images/p-4.jpg" alt="">
            <h3>tasty cupcakes</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="images/p-5.jpg" alt="">
            <h3>cold drinks</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div>
        <div class="box">
            <span class="price"> $5 - $20 </span>
            <img src="images/p-6.jpg" alt="">
            <h3>cold ice-cream</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>
        </div> -->

    </div>

</section>

<!-- popular section ends -->

<!-- footer section  -->

<section class="footer">


    <h1 class="credit"> created by <span> Dereck Tello </span> | all rights reserved! </h1>

</section>

<!-- scroll top button  -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

<!-- loader  -->
<!-- <div class="loader-container">
    <img src="images/loader.gif" alt="">
</div> -->

<!-- custom js file link  -->
<script src="/js/home.js"></script>



